@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-01-19 10:37:08
 * @version $Id$
 */

 body{
 	width:1263px;
 	margin: 0 auto;
 	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI","Microsoft YaHei",SimHei,"宋体",simsun,sans-serif;
   /* border: 1px solid red;*/
 }

  .top{
 	width:1263px;
 	height:40px;
 	background-color: orange;
 }
/*切换城市*/
 .city{
 	margin-top: 10px;
 	margin-left: 80px;
 	width: 200px;
 	height:20px;
 	float:left;

 }
/*切换大学*/
.college{
	margin-top: 10px;
	width: 650px;
 	height:20px;
 	float:left;
}
/*登录部分*/
.login{
	margin-top: 10px;
	width: 100px;
	height:20px;
	float: left;
}

a:link{
	text-decoration: none;
}

.place{
	width:500px;
	height:35px;
    margin-left: 50px;
    margin-top: 30px;
    /*background-color: gray;*/
}

.style{
	font-size: 5;
	/*background-color: silver;*/
	width: 1060px;
	height:20px;
	margin-left: 100px;
	margin-top: 60px;
}

.a1{
	width:1000px;
	margin-left: 130px;
    margin-top: 0px;
    height:370px;
    font-size: 5;   
    /*background-color: green;*/
}

.a2{
	width:1000px;
	margin-left: 130px;
    margin-top: 0px;
    height:270px;
    font-size: 5;   
    /*background-color: green;	*/
}

.a3{
	width:1000px;
	margin-left: 130px;
    margin-top: 0px;
    height:90px;
    font-size: 5;   
  /*  background-color: green;	*/
}

.a4{
	width:1000px;
	margin-left: 130px;
    margin-top: 0px;
    height:20px;
    font-size: 5;   
   /* background-color: green;*/	
}

#b1{
	float: left;
	width: 100px;
	height:20px;
	color:red;
}